/*Tag selector*/
body {
    background-color: #F1EEE9;
    text-align: center;
}
/*Class selector*/
 .github-overskrift {
     margin-top: 1rem;
 }
 .vurderingparagraf {

    font-weight: 400;
    font-size: large;
 }